.card{
    max-width: 840px;
    max-height: 200px;
}

.img-fluid{
    max-height: 180px;
    width: 250px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.more{
    align-self: center;
}
