<div class="container">
    <form class="form" [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="name" placeholder="name"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="description" placeholder="Description"
                aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap">
            <input type="date" class="form-control" formControlName="date" placeholder="date"
                aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap">
            <input type="file" class="form-control" formControlName="image" id="inputGroupFile04"
                (change)="updateFIle($event)" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="type" placeholder="type"
                aria-describedby="addon-wrapping">
        </div>
        <button class="btn btn-success">add</button>
    </form>
    <ul class="errore">
        <li *ngFor="let msg of erroreMsg">
            {{msg}}
        </li>
    </ul>


    <div class="wrap">
        <app-training *ngFor="let training of trainings" [training]="training"></app-training>
    </div>



</div>