.dashboards{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.navbar{
    height: 50px;
}

.navbar h1{
    color: green;
}

.user{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 220px;
    color: gray;
    z-index: 22;
}

.input-group-text{
    border-radius: 90%;
    height: 40px;
    width: 40px;
    background: white;
    margin-bottom: 10px;
}

.user-name{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.firstName{
    margin-right: 5px;
}

.down{
    color: gray;
    margin-top: 10px;
    cursor: pointer;
}

.bar{
    width: 350px;
    height:100vh;
}

.blocks{
    padding-top: 60px;
    display: flex;

}

.blocks__router{
    width: 90%;
}

.ul{
    list-style: none;
    margin-top: 100px;
    width: 100%;
    color: white;
}

.ul li{
    padding: 10px;
    border-bottom: 1px solid grey;
}

.ul li a{
    text-decoration: none;
    color: white;
}

.blocks .navbar{
    display: flex;
    align-items: start;
}

.active{
    background-color: rgb(34, 224, 34);
}

.profile{
    position: absolute;
    top: 39px;
    left: 5px;
    width: 170px;
    color: gray;
    list-style: none;
    transition: ();
}

.profile li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: inherit;
    padding: 5px;
    margin-left: -32px;
    transition: 0.5s all;
}

.profile li:hover{
    background-color: rgb(68, 68, 68);
}