.section{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.textarea{
    margin: 20px 0;
}

.flex-nowrap{
    margin: 20px 0;
}
.success{
    color: rgb(9, 197, 9);
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.errore{
    font-size: 18px;
    letter-spacing: 1px;
    color: tomato;
    list-style: none;
}

.button{
    cursor: pointer;
    width: 120px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    transition: 0.5s;
}

.delete{
    background-color: tomato;
    background-color: tomato;
    align-self: flex-end;
    margin: 20px 0;
}

 
.delete:hover{
     background-color: rgba(216, 214, 214, 0.867);
     color: tomato;
 }