<section class="section">
    <button class="button delete" (click)="delete(training.id!)">Delete</button>
    <form class="form" [formGroup]="trainingForm" (ngSubmit)="update()">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="name" placeholder="name"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="description" placeholder="Description"
                aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap">
            <input type="date" class="form-control" formControlName="date" placeholder="date"
                aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap">
            <input type="file" class="form-control" formControlName="image" id="inputGroupFile04"
                (change)="updateFIle($event)" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="type" placeholder="type"
                aria-describedby="addon-wrapping">
        </div>
        <button class="btn btn-success">update</button>
    </form>

    <img  class="card-img-top" [src]="url+'/'+training.mediaFiles.path"  alt="...">
    <p [ngClass]="isSuccess?'success':'errore'">{{updateTraining$|async}}</p>
</section>