<div class="container">
    <form class="form" [formGroup]="vacancieForm" (ngSubmit)="onSubmit()">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="shortDescription" placeholder="ShortDescription"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" formControlName="description" placeholder="Description"
                aria-describedby="addon-wrapping">
        </div>

        <button class="btn btn-success">add</button>
    </form>
    <ul class="errore">
        <li *ngFor="let err of erroreMsg">{{err}}</li>
    </ul>
    <div class="wrap">
        <app-vacancie *ngFor="let vacancie of vacancies" [vacancie]="vacancie"></app-vacancie>
    </div>

</div>