<section class="section">
    <button class="button delete" (click)="delete(project.id!)">Delete</button>
    <form class="form" [formGroup]="projectForm" (ngSubmit)="update()">
        <input type="text" formControlName="title">
        <textarea class="textarea" rows="4" cols="50" formControlName="description"></textarea>
        <button class="btn btn-success">update</button>

        <p class="success">{{successMsg}}</p>
        <ul>
            <li class="errore" *ngFor="let err of errroreMsg">{{err}}</li>
        </ul>
    </form>
</section>
