.container{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.section{
    border: 1px solid;
    padding: 10px;
}



.button{
    cursor: pointer;
    width: 120px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    transition: 0.5s;
}

.more{
    background-color: rgba(14, 136, 14, 0.928);
    
}

.more:hover{
    color:rgba(14, 136, 14, 0.928) ;
    background-color: rgba(216, 214, 214, 0.867);
}
